/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h2, h3 {
    font-weight: 600;
}

section {
    padding: 60px 0;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-custom-green {
    background-color: #32CD32; /* Custom Green */
    color: white;
}


footer {
    background-color: #28a745;
    color: white;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

ul {
    padding-left: 1.2rem;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    h1.display-4 {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1.4rem;
    }
}
